.game-info {
    position: absolute;
    width: 12%;
    right: 2%;
    top: 2%;
    background-color: rgba(51, 51, 51, 0.4);
    padding: 0.5rem;
    border-radius: 10px;
}
.game-info ol {
    list-style-position: inside;
    font-weight: bold;
    font-size: 0.75rem;
}
.game-info ol li {
    padding: 0.15rem;
}
.game-info ol li button {
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    color: #333;
}